 #main-title{
            color:blueviolet;
            font-size: 20px;
        }

        h2{
            color:rgb(10, 54, 149);
        }
        .note{
            color:rgb(212, 1, 1);
            
        }